{% extends "indexx.html" %}


  {% block index %}


  {% if  page   == 'login'%}

  
   <div>
   
    <form action="" method="POST">
        {% csrf_token %}

        <label for="name"> Username:</label>
        <input for="" type='text'  name='username' placeholder="Enter username"> Name</input>

        <label for="password">Password:</label>
        <input type="password" name="password" placeholder="Enter Password">
        <input type="submit" name='login'>
    </form>

   </div>
   <p> havent signed up yet </p>
   <a href="{% url 'register' %}"> Sign Up</a>
   <div>
{% else  %}
   
   
    <form action="" method="POST">
        {% csrf_token %}
        {{form.as_p}}

        <input type="submit" value ='submit'>
        

    </form>
    <p>Already signed up</p>
    <a href="{% url 'login' %}"> signup</a>
    
   </div>

   {% endif  %}
{% endblock index %}